<ul class="collection">

    <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
      <span class="title">Kiron</span>
      <p>First Line <br>
         Second Line
      </p>
       <a class="secondary-content"><i class="material-icons" style="color:red">toll</i></a>
    </li>
   

  </ul>

  