<section class="chat-section">

    <div class="user_chat">
        <div class="user">
            <ul class="collection showUserList" id="chatShowUserList">
            </ul>
        </div>
        <div class="chat-area">
            <div class="chat-head">
                <p hidden id="receiveder_msg_id"></p>
                <span><b id="receiveder_msg_name">Select User</b></span>
            </div>
            <div class="chat">
    
                <!-- <div class="chat-box incoming">
                    <h5><b>Kironmoy Roy</b></h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, beatae.</p>
                    <p class="incometime"><span>10:30 PM</span></p>
                </div>
    
                <div class="chat-box outgoing">
                    <h5> <b>Kironmoy Roy</b></h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, beatae.</p>
                    <p class="outgotime"><span>10:30 PM</span></p>
                </div>
     -->
    
            </div>
            <div class="typing">
          
            </div>
            <div class="massage">
                <textarea id="textarea"></textarea>
                <button class="send">Send</button>
            </div>
        </div>
    </div>


</section>


