@import url(https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap);
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #e0f7fa;
  font-family: "Mulish", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background-color: #7c4dff !important;
}

#notifai {
  display: flex;
  float: right;
  position: fixed;
  right: 0;
  top: 4.2rem;
  z-index: 10;
  transition: all 5s ease-in-out;
}
#notifai .alert {
  color: white;
  width: 24rem;
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0.3rem;
  text-align: center;
  box-shadow: 5px 5px 12px gray;
  border-radius: 15px;
}
#notifai .alert #notifai_close {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#notifai .alert-danger {
  background-color: red;
}
#notifai .alert-success {
  background-color: green;
}
#notifai .alert-primary {
  background-color: skyblue;
}

nav {
  background-color: #7c4dff !important;
}
nav .nav_account_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100%;
}

#nav_account_link {
  top: 4.2rem !important;
}

.home {
  height: 65vh;
  width: 100%;
  background-color: #e0f7fa;
}
.home div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .home {
    height: 60vh;
  }
  .auth_section {
    height: 65vh;
  }
}
.auth_section {
  height: 90vh;
  width: 100%;
}
.auth_section .auth_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth_section .auth_container .cart {
  margin: 0% 2rem;
  width: 30rem;
  background-color: #fff;
  padding: 0.8rem 1.2rem 0 1.2rem;
  border-radius: 12px;
  box-shadow: 1px 1px 12px;
}
.auth_section .auth_container .cart .auth_bun {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
}

@media (max-width: 992px) {
  .user {
    display: none;
  }
  .chat-area {
    width: 100% !important;
  }
}
.chat-section {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-section .user_chat {
  width: 90%;
  height: 98%;
  display: flex;
  justify-content: space-between;
}
.chat-section .user_chat .user {
  border: 1px solid red;
  background-color: #8fdfff;
  width: 30%;
  overflow-y: auto;
}
.chat-section .user_chat .chat-area {
  border: 1px solid green;
  background-color: #fff;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.chat-section .user_chat .chat-head {
  text-align: center;
  width: 100%;
  height: 1.5rem;
  background-color: aqua;
}
.chat-section .user_chat .chat {
  height: 86%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.chat-section .user_chat .chat .chat-box {
  width: 42%;
  margin: 0.8rem;
  padding: 0.6rem;
  box-shadow: 0px 0px 12px 0px gray;
  border-radius: 12px;
}
.chat-section .user_chat .chat .incoming {
  background-color: #8fdfff;
}
.chat-section .user_chat .chat .outgoing {
  margin-left: auto;
  background-color: #6dff6d;
}
.chat-section .user_chat .typing {
  color: green;
  text-align: center;
}
.chat-section .user_chat .massage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 5%;
}
.chat-section .user_chat .massage textarea {
  width: 74%;
  height: 2.1rem;
  margin-right: 0.2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  border: none;
  outline: none;
}
.chat-section .user_chat .massage button {
  margin-left: 0.2rem;
  position: relative;
  padding: 0.58rem 6%;
  width: 20%;
  border-radius: 10px;
  background-color: #fff88f;
  box-shadow: 1px 1px 10px gray;
  border: none;
}
